

h1 {
  color: red;
  margin-top: 0;
}

body {
  margin: 0;
}

.button {
  float: right;
}

.main-container {
  background-color: blue;
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 400ms ease;
}

.sidebar {
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -246px;
  width: 246px;
}

.opened {
  transform: translate(-246px, 0);
  height: 100%;
  width: 100%;
  position: fixed;
}
